


body {
  font-family: 'Inter', sans-serif;
  background-color: hsl(0, 100%, 98%);
  margin: 0;
  padding: 0;
  height: 100vh; /* full viewport height */
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  font-size: 3.5rem;
  letter-spacing: 0.8rem;
  color:hsl(0, 36%, 70%)
}
h2,h3{
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.8rem;
  font-size: 3.5rem;
  font-weight: 400;
  color:hsl(0, 6%, 24%);

}
h1,h2,h3{
  line-height: 1.1rem;
}
/* Container with flex */
.container {
  display: flex;
  height: 100vh;
  width: 100%;
}
.card-content p {
color:hsl(0, 36%, 70%);
font-size:12px;
font-weight: none;


}
/* Left side - logo + card */
.left-side {
  flex: 1; /* 50% width */
  background: url(/images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.email{
  width:13rem;
  height:1.8rem;
  border-radius: 10rem;
  border-color:hsl(0, 93%, 68%);
}




.submitBtn{
  width:3rem;
  height:1.8rem;
  border-radius: 10rem;
  background-color: hsl(0, 80%, 86%);
  color:white;
  font-size: 18px;
  border-color: white;


}
/* Default: show desktop, hide mobile */
.hero-desktop {
  display: block;
  width: 100%;
  height: auto;
}

.hero-mobile {
  display: none;
  width: 100%;
  height: auto;
}

.attribution { 
    font-size: 11px; text-align: center;
 }
.attribution a {
     color: hsl(228, 45%, 44%);
     }


/* Example media queries for those design widths */

@media (max-width: 375px) {
  /* Styles optimized for mobile design */
}

@media (min-width: 376px) and (max-width: 1440px) {
  /* Styles optimized for tablet to desktop range */
}

@media (min-width: 1441px) {
  /* Styles for very large screens */
}



/* Mobile styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .right-side {
    display: none; /* hide desktop right side completely */
  }

  .hero-desktop {
    display: none;
  }

  .hero-mobile {
    display: block;
    margin: 20px 0; /* optional spacing */
  }

  .left-side {
    align-items: center;
    text-align: center;
  }
}