


body {
  font-family: 'Inter', sans-serif;
  background-color: hsl(0, 100%, 98%);
  margin: 0;
  padding: 0;
  height: 100vh; /* full viewport height */
}


h1{
  font-family: 'Josefin Sans', sans-serif;
  color:hsl(0, 74%, 74%);
  font-weight: normal;
  font-size: 16px;
}

h2{
  font-family: 'Josefin Sans', sans-serif;
  color: hsl(0, 6%, 24%);
}



h3{
  font-family: 'Josefin Sans', sans-serif;
  color:  hsl(0, 6%, 24%);
}
/* Container with flex */
.container {
  display: flex;
  height: 100vh;
  width: 100%;
}
/* Left side - logo + card */
.left-side {
  flex: 1; /* 50% width */
  background-color: #f0f0f0; /* example background */
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.attribution { 
    font-size: 11px; text-align: center;
 }
.attribution a {
     color: hsl(228, 45%, 44%);
     }


/* Example media queries for those design widths */

@media (max-width: 375px) {
  /* Styles optimized for mobile design */
}

@media (min-width: 376px) and (max-width: 1440px) {
  /* Styles optimized for tablet to desktop range */
}

@media (min-width: 1441px) {
  /* Styles for very large screens */
}